/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;

	--syntax-tab-size: 2;

	--line-height-mod: 1.5;

	--font-size-25: 0.25rem;
	--font-size-50: 0.5rem;
	--font-size-75: 0.75rem;
	--font-size-100: 1rem;
	--font-size-125: 1.25rem;
	--font-size-150: 1.5rem;
	--font-size-175: 1.75rem;
	--font-size-200: 2rem;

	--spacing-100: calc(var(--font-size-100) * var(--line-height-mod));
	--spacing-200: calc(var(--spacing-100) * 2);
	--spacing-300: calc(var(--spacing-100) * 3);
	--spacing-400: calc(var(--spacing-100) * 4);
	--spacing-500: calc(var(--spacing-100) * 5);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	line-height: var(--line-height-mod);
	font-size: large;
}
html {
	overflow-y: scroll;
}
body {
	max-width: calc(60ch + var(--spacing-100) * 2);
}

header,
main,
footer {
	padding-left: var(--spacing-100);
	padding-right: var(--spacing-100);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

h1 {
	margin-top: var(--spacing-500);
	margin-bottom: var(--spacing-100);
	font-size: var(--font-size-175);
}

h2 {
	margin-top: var(--spacing-400);
	margin-bottom: var(--spacing-100);
	font-size: var(--font-size-150);
}

h3 {
	margin-top: var(--spacing-300);
	margin-bottom: var(--spacing-100);
	font-size: var(--font-size-125);
}

h4,
h5,
h6 {
	margin-top: var(--spacing-200);
	margin-bottom: var(--spacing-100);
	font-size: var(--font-size-100);
}

h5 {
	color: var(--color-gray-50);
}

h6 {
	color: var(--color-gray-20);
}

p {
	margin: var(--spacing-100) 0;
}
p:last-child {
	margin-bottom: 0;
}

li {
	line-height: var(--spacing-100);
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: var(--spacing-100) 0;
}

table {
	margin: var(--spacing-100) 0;
}
table td,
table th {
	padding-right: var(--spacing-100);
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: calc(var(--spacing-100) / 2) 0;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
.branding {
	align-items: start;
	margin-top: var(--spacing-200);
	margin-bottom: var(--spacing-200);
}
.branding__title {
	font-size: 1rem;
	font-weight: 700;
}
.branding__title:link:not(:hover) {
	text-decoration: none;
}
.branding__tagline {
	margin: 0;
	font-size: 0.8125em;
}

/* Posts list */
.post-list__link {
	text-decoration: none;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/* Affiiliate Banner */
.affiliate-banner {
	display: grid;
	gap: 1em;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: "cover disclaimer" "cover call-to-action";
	height: calc(160 / var(--spacing-100) * var(--spacing-100));
	box-sizing: content-box;
	border: 1px solid var(--color-gray-50);
	padding: var(--spacing-100);
}

.affiliate-banner__cover {
	grid-area: cover;
}

.affiliate-banner__disclaimer {
	grid-area: disclaimer;
	margin: 0;
}

.affiliate-banner__call-to-action {
	grid-area: call-to-action;
}
