/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;

	--syntax-tab-size: 2;
	--unit: 1.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	line-height: var(--unit);
	font-size: 24px;
}
html {
	overflow-y: scroll;
}
body {
	max-width: calc(60ch + var(--unit) * 2);
}

header,
main,
footer {
	padding-left: var(--unit);
	padding-right: var(--unit);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

h1 {
	--line-height: calc(var(--unit) * 2);
	font-size: calc(var(--line-height) / 1.2);
	line-height: var(--line-height);
	margin-top: var(--line-height);
	margin-bottom: var(--unit);
}

h2 {
	--line-height: calc(var(--unit) * 2);
	font-size: calc(var(--line-height) / 1.4);
	line-height: var(--line-height);
	margin-top: var(--line-height);
	margin-bottom: var(--unit);
}

h3 {
	margin: calc(var(--unit) * 2) 0 var(--unit) 0;
}

h4 {
	margin: calc(var(--unit) * 2) 0 var(--unit) 0;
}

p {
	margin: var(--unit) 0;
}
p:last-child {
	margin-bottom: 0;
}

li {
	line-height: var(--unit);
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: var(--unit) 0;
}

table {
	margin: var(--unit) 0;
}
table td,
table th {
	padding-right: var(--unit);
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: calc(var(--unit) / 2) 0;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
.branding {
	display: flex;
	gap: 0.5rem;
	align-items: start;
	padding-top: var(--unit);
	padding-bottom: var(--unit);
}
.branding__image {
	border-radius: 50%;
	border: 1px solid var(--color-gray-90);
}
.branding__title {
	font-size: 1rem;
	font-weight: 700;
}
.branding__title:link:not(:hover) {
	text-decoration: none;
}
.branding__tagline {
	margin: 0;
	font-size: 0.8125em;
}

/* Posts list */
.post-list__link {
	text-decoration: none;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}
