{% for post in postslist | reverse %}
  <article class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <h2>
      <a href="{{ post.url }}" class="post-list__link">
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
    </h2>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL dd, yyyy") }}</time>
    <p>{{ post.data.description }}</p>
    <a href="{{ post.url }}">Read more ▶</a>
  </article>
{% endfor %}